body{
  overflow-y: scroll;
}

body h3{
  margin: 8%;
  color: #565656;
  text-align: center;
  font-family: 'ArcaMaj';
  font-size: 35px;
  display: block;
}

body p {
    color: #565656;
    text-align: justify;
    font-size: 17px;
    font-weight: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    letter-spacing: -1px;
}

img {
  max-width: 55vw;
}

header {
  display: block;
  position: relative;
  height: 746px;
  background-size: cover;
  background-position: center;
}

footer{
  margin-top: 15%;
}

footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 0 0 5%;
    border-radius: 99em;
    box-shadow: -10px 20px 23px 0px rgba(0, 0, 0, 0.1);
}

.conteiner .row{
  margin-top: 5%
}

#resume {
    font-family: 'ArcaMaj';
    color: #565656;
    font-size: 20px;
    text-align: center;
    width: 26vw;
    line-height: 30px;
    margin: 10% auto 7%;
    letter-spacing: -1px;
}

#nxt img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5vw;
    bottom: 10%;

    border-radius: 0;
    box-shadow: none;
}

.div1line{
    display: block;
    position: relative;
    float: left;
    left: 0;
}
.div2line {
    display: block;
    position: relative;
    float: right;
    right: -20px;
}

.dbl-img{
  width: 30vw
}

.cent-img {
    display: block;
    position: relative;
    margin: 0 auto !important;
}

#nxt>div h3 {
    margin: 10% auto 1%;
}

.next-link {
    color: #00D700;
    width: 20vw;
    text-align: center;
    font-family: 'ArcaMaj';
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.55rem;
    padding: 4% 0 0;
    vertical-align: bottom;
}

footer a:hover{
  color: #00D700 !important;
}

.line-01a img:first-child {
    text-align: center;
    display: block;
    margin: 20% auto 10%;
}

.line-01a img:last-child {
    width: 40vw;
    padding-top: 40px;
}

.notatitle {
    margin: 2% !important;
}

#quot {
    font-size: 18px;
    width: 20vw;
    text-align: center;
    margin: 5% auto;
}

@media screen and (max-width: 1000px){

  img#logo {
    width: 40%;
    margin: 5px;
    max-width: 220px;
    vertical-align: top;
    position: absolute;
  }
  img#botao-menu {
    width: 5%;
    margin: 25px;
    cursor: pointer;
    vertical-align: top;
    float: right;
  }

  .line-01a img:first-child {
    margin: 15% auto 5%;
    width: 30vw;
  }
  header{
    width: 105vw;
    height: 385px;
  }
  #resume {
    width: 100vw;
    padding: 0 15% 0;
    }

  .div1line {
    position: relative;
    padding-right: 5%;
    left: 0;
    margin-left: 0;
  }

  .div2line {
    position: relative;
    padding-left: 5%;
    margin-right: -12px;
    padding-right:  0;
  }

  .line-01a img:last-child {
    width: 100vw;
    padding-top: 20px;
  }

  img {
    max-width: 80vw;
    display:  block;
    margin: 0 auto;
  }

  .line-01a, .line-01b {
      margin: 5px auto 5px;
  }

  .line-03a, .line-03b {
      margin: 5px auto 5px;
  }
  body p{
    width: 75vw;
    margin: 15px 13vw;
  }

  body h3{
    font-size: 24px;
    margin:  auto 7%;
  }

  .next-link {
    width: auto;
    margin-top: 5%;
  }

  #nxt img {
    width: 30vw;

    }

  footer img {
    width: 100%;
    }

  .mid-icon h3 {
      margin: 8% auto 8%;
      width: 100%;
  }

  #quot {
    width: 100vw;
  }

}

@media screen and (max-width: 750px){

    footer img {
      width: 50%;
      }

    .line-01a img:first-child {
      width: 40vw;
    }

    header {
        background-size: cover;
        height: 195px;
        width: 105vw;
    }
}
