/* BASIC CONFIG */

body h1, h2, h3, h4 {
  text-align: center;
  color: #565656 !important;
}

body h1 {
  font-size: 5rem;
  text-align: center;
  padding: 5% 0 2%;
}

body a:hover {
  text-decoration: none;
}

body p {
  width: 65%;
  margin: 0 auto 2%;
}

div.row {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 30px auto 90px;
}
.cover {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'ArcaMaj';
  text-align: center;
}
#darling .cover{background-image: url('../img/Case_darling/banner.png');}
#side .cover{background-image: url('../img/case_side/banner.png');}
#triya .cover{background-image: url('../img/case_triya/banner.png');}
#viggo .cover{background-image: url('../img/case_viggo/banner.png');}
#ww .cover{background-image: url('../img/case_worldwine/banner.png');}


.cover h5 {
  font-size: 30px;
}

.logo-cover {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  position: absolute;
  text-align: center;
  top: 25%;
}

.logo-cover img {
  display: inline-block;
  width: 250px;
  height: auto;
  margin: 0 auto;
}

.casemail {
    display: block;
    position: absolute;
    font-family: 'ArcaMaj';
    text-align: center !important;
    bottom: 10%;
    margin: 0 auto;
    width: 100vw;
}

.cover a{
  color: white;
}

.cover a:hover {
  color: white;
}


.down-seta {
    display: block;
    position: relative;
    margin: 90px auto 0;
    text-align:  center;
}

#case-logo {
  display: block;
  position: relative;
  margin: 0 auto 50px;
  text-align: center;
  width: 300px;
}

section.resume p {
    font-family: 'ArcaMaj';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #565656;
    width: 75% !important;
}

.div2line {
  float: right;
  right: 0;
  margin-right: -15px;
  margin-top: 50px;
  max-width: 580px;
}

.div1line {
  margin-left: -15px;
  margin-top: 50px;
  max-width: 580px;
}

.line img {
  width: 100%;
}

.resume img {
  width: 100%;
}

.mais-cases img {
  max-width: 83px;
  display: block;
  margin: 0 auto;
}

.mais-cases a {
  color: #00d600
}

.mais-cases a:hover {
  color: #00d600
}

/* CONFIGURAÃƒÆ’Ã¢â‚¬Â¡ÃƒÆ’Ã¢â‚¬Â¢ES ESPECÃƒÆ’Ã‚ÂFICAS */

/* WW */

.mid-icon img {
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 10px 13px 20px lightgrey;
}

#quot {
  text-align: center;
  font-size: 1rem
}

#ww p {
  width: 65% !important;
}

#ww .logo-cover img {
  width: 400px;
  margin: 135px 35px 0 0;
}

/* DARLING */

.cent-img {
  max-width: 350px !important;
  margin: 0 auto 20px;
  display: block;
  width: 275px !important;
}

.bigstrong {
  font-size: 28px;
}

.notatitle {
  margin: 0 auto !important
}

#darling .logo-cover img {
    width: 400px;
    margin: 130px 20px 0 0;
}

/* TRIYA */

#triya-even-line {
  margin-left: -110px;
}

#triya-odd-line {
  margin-right: -110px;
}

#triya p {
  width: 65%;
}

#triya .logo-cover img {
    width: 500px;
    margin: 135px 76px auto auto;
}

/* DARLING */

#viggo p {
  width: 65% !important;
}

#viggo .logo-cover img {
    width: 400px;
    margin: 135px 76px auto auto;
}

/* SIDE */

#side p {
  width: 65% !important;
}

@media screen and (max-width:500px) {
  body p, h3 {
    width: 90vw !important;
    margin: 50px auto 35px !important;
  }

  .cover h5 {
    font-size: 18px;
  }

  #case-logo {
  display:  none;
  }
  .line img {
    width: 150%;
    margin: 0 -25%;
    padding: 0;
  }
  .div2line {
    width: 100% !important;
    margin-right: -15px !important;
    margin-top: 50px !important;
  }
  .div1line {
    width: 100% !important;
    margin-left: -15px !important;
    margin-top: 50px !important;
  }

  .down-seta {
      display: none
  }

  .casemail {
      bottom: 0px;
    }

  .cover {
    width: 100vw;
    height: 45vh;
    background-attachment: inherit;
  }

  .resume {
    margin-top: -50px !important;
  }

  .logo-cover{
    display: none
  }

  #darling .cover{background-image: url('../img/Case_darling/bannermob.png');}
  #side .cover{background-image: url('../img/case_side/bannermob.png');}
  #triya .cover{background-image: url('../img/case_triya/bannermob.png');}
  #viggo .cover{background-image: url('../img/case_viggo/bannermob.png');}
  #ww .cover{background-image: url('../img/case_worldwine/bannermob.png');}



  /* CONFIG ESPECIFIC */
  /* WW */
  .mid-icon img {
    width: 50%
  }
  #ww p, h3 {
    width: 90vw !important;
    margin: 50px auto 35px !important;
  }

  /* TRIYA */
  #triya-even-line {
    display: none;
  }
  #triya p {
    width: 90vw !important;
    margin: 0 auto !important;
  }
  #triya h3 {
    margin: 15px auto !important;
  }
  #triya .resume p {
    margin: 40px auto !important;
  }

  /* DARLING */
  .cent-img {
    width: 70% !important;
    margin: 0 auto !important;
  }
  .bigimg {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #darling p {
    width: 90vw !important;
    margin: 0 auto !important;
  }
  #darling h3 {
    margin: 15px auto !important;
  }
  #darling .resume p {
    margin: 40px auto !important;
  }
  /* SIDE */
  #side p {
    width: 90vw !important;
    margin: 0 auto !important;
  }
  #side h3 {
    margin: 15px auto !important;
  }
  #side .resume p {
    margin: 40px auto !important;
  }

  #side .resume img:last-child {
    width: 150%;
    margin: 0 -25% 0;
  }

  /* VIGGO */
  #viggo p {
    width: 90vw !important;
    margin: 0 auto !important;
  }
  #viggo h3 {
    margin: 15px auto !important;
  }
  #viggo .resume p {
    margin: 40px auto !important;
  }
}
