 body {
   font-family: 'Roboto', sans-serif !important;
   overflow-x: hidden;
   text-align: justify !important;
   font-size: 1.5rem
 }

 form {
   width: 700px;
   text-align: center;
   margin: 0 auto;
 }

 .down-seta {
   display: block;
   position: absolute;
   margin: 0 50%;
   bottom: 1%;
 }

 a:hover {
   text-decoration: none !important;
 }

 p:last-child {
   padding-bottom: 30px;
 }

 section.resume {
   padding: 0px;
 }

 .resume {
   text-align: center;
   color: #565656
 }

 .resume h3 {
   text-transform: none;
   padding: 10px;
 }

 .resume p {
   margin: 0;
   font-size: 1.3rem;
 }

 img {
   display: block;
   margin: 0 auto;
   text-align: center;
 }

 input, textarea, select {
   border: 1px solid #f7961e;
   margin: 1% 0.5% !important;
   width: 45%;
   height: 45px;
   padding-left: 10px;
   box-shadow: 2px 8px 20px #F2F2F2;
 }

 select {
   width: 60%;
   color: gray
 }

 section {
   margin: 80px auto;
   padding: 0 200px
 }

 textarea {
   margin-top: 30px !important;
   width: 100%;
   height: 150px
 }

 input[type=radio] {
   border-radius: 0;
   margin: 0px;
   width: inherit;
   height: auto;
   padding-left: 10px;
   box-shadow: none;
 }

 .cor-vet {
   height: 280px;
 }

 .cor-vet img {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
 }

 #vtex-box {
   border: 3px solid #f7961e;
   padding: 1% 4%;
   text-transform: uppercase;
   color: #f7961e !important;
   vertical-align: middle;
   text-align: center;
 }

 #pimenta-frete h2, h3, h4 {
   text-align: center;
   margin: 50px auto;
   padding-bottom: 30px;
   padding-top: 50px;
   color: #565656 !important;
   text-transform: uppercase;
 }

 button {
   display: block;
   margin: 50px auto !important;
   text-align: center;
   background: #f7961e;
   color: white;
   text-transform: uppercase !important;
   border: none;
   width: 400px;
   height: 60px;
   font-weight: bold;
   font-size: 1.8rem;
   font-family: 'ArcaMaj' !important;
 }

 button[type=submit] {
   font-size: 23px;
   font-weight: bold;
   border-radius: 20px;
   height: 45px;
   width: 175px;
   border: 0;
   text-align: center;
   background: #f7961e;
   color: white;
   text-transform: uppercase !important;
 }

 .cover {
   display: block;
   position: relative;
   width: 100vw;
   height: 100vh;
   background-image: url('../img/frete/header.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   color: white;
   font-family: 'ArcaMaj';
   text-align: center;
   text-transform: uppercase;
   margin: 0;
 }

 .divisor {
   margin: 0 !important;
 }

 .divright {
   float: right;
 }

 .lst-p {
   margin-top: 15px !important;
   text-align: center;
 }

 .first-l p {
   width: 70%;
   margin: 0 auto;
 }

 .second-l p {
   width: 81%;
   margin: 0 auto 50px;
 }

 .roundimg {
   border-radius: 50%;
   box-shadow: -15px 25px 40px lightgrey;
 }

 /* COSTUM RADIO */

 .checkbox {
   display: block;
   position: relative;
   padding-left: 35px;
   margin: 25px auto;
   cursor: pointer;
   width: 25%;
   text-align: left;
   color: #565656;
   font-family: 'Roboto';
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .checkbox input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }

 .checkbox label {
   width: 100%;
   margin: 25px -10px;
 }

 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 20px;
   width: 20px;
   background-color: white;
   border: 1px solid #f7961e;
   border-radius: 50%;
 }

 .checkbox input:checked~.checkmark {
   background-color: #f7961e;
 }

 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 .checkbox input:checked~.checkmark:after {
   display: block;
 }

 .checkbox .checkmark:after {
   top: 5px;
   left: 5px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
 }

 @media screen and (max-width:500px) {
   .cover {
     height: 30vh;
     background-size: contain;
     background-position: top;
   }
   .resume p {
     width: 80vw !important;
     margin: 0 auto !important;
   }
   .resume h1 {
     width: 80vw;
     font-size: 27px;
   }
   .resume h3 {
     width: 80vw;
     font-size: 20px;
   }
   section {
     margin: 0 auto;
     padding: 0;
   }
   form {
     width: 100%;
   }
   input, textarea, select {
     width: 90%;
   }
   .checkbox {
     width: 100%;
   }
   .checkbox p {
     width: 100% !important;
   }
   button[type=submit] {
     font-size: 17px;
     height: 40px;
     width: 160px;
     margin: 10px auto 20px !important;
   }
   button {
     width: 260px;
   }
   .cor-vet {
     height: 149px;
     margin-top: 55px;
   }
 }
