body a:hover {
  text-decoration: none;
}

body p {
  width: 48% !important;
  margin: 10px auto;
}

body ul li {
  list-style: none
}

body h1 {
  font-size: 5rem;
  text-align: center;
  padding: 5% 0 2%;
}

header {
  display: block;
  position: absolute;
  z-index: 99999;
  width: 100vw;
}

section {
  width: 100vw;
  height: auto;
  margin: 0;
}

/*
CONFIGURAÃƒâ€¡Ãƒâ€¢ES DE FIRST PAGE
*/

section.first-page {
  background-image: url('../img/home/home_fundo.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'ArcaMaj';
  text-align: center;
  text-transform: uppercase;
  height: 100vh;
}

.first-page h3 {
  opacity: 0.7;
}

.first-page a {
  display: inline-block;
  position: relative;
  padding: 3% 4% 0%;
  color: white;
  font-family: 'ArcaMaj';
  text-align: center;
}

.first-page a:hover {
  color: #00d600;
}

.pepper {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  position: absolute;
  text-align: center;
  top: 25%;
}

.pepper img {
  display: inline-block;
  width: 22%;
  height: auto;
  margin: 0 auto;
  opacity: 0.3;
}

.home-text {
  display: block;
  position: absolute !important;
  bottom: 15%;
}

.down-seta {
  display: block;
  position: absolute;
  margin: 0 50%;
  bottom: 1%;
}

/*
CONFIGURAÃƒâ€¡Ãƒâ€¢ES DE QUEM SOMOS
*/

section.quem-somos {
  background-color: white;
  min-height: 100vh
}

.quem-somos h1 {
  color: #00d600;
}

.quem-somos h3 {
  color: #00d600;
  margin: 40px auto 60px;
  text-transform: uppercase;
  text-align: center;
}

.quem-somos h4 {
  color: #565656;
}

.equipe p {
  width: 100%;
  text-align: center;
  margin: -10% auto 0;
  font-size: 0.8rem;
}

.equipe ul li {
  text-align: center;
  margin: 0 auto;
}
.equipe {
  margin-bottom: 3%;
}
/*
CONFIGURAÃƒâ€¡Ãƒâ€¢ES DE CONTATO
*/

section.contato {
  background-image: url('../img/home/bgcontato.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  width: 100vw;
  vertical-align: bottom;
}

.contato h1 {
  margin: 5% auto 0;
  color: #009ff2;
}

.contato h2 {
  margin: 0 auto 2%;
  color: white;
  text-align: center;
  font-weight: bold;
}

.contato p {
  margin: 0 auto 3% !important;
  width: 100vw !important;
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: 18px !important;
}

/*
CONFIGURAÃƒâ€¡Ãƒâ€¢ES FORM
*/

form {
  text-align: center;
}

form {
  width: 500px;
  display: block;
  position: relative;
  margin: 0 auto;
}

form>div:first-child {
  box-shadow: 5px 9px 57px #000;
}

input {
  width: 246px;
  height: 50px;
  padding-left: 10px;
}

input[type="email"] {
  width: 100%;
  margin: 8px 0;
}

textarea::-webkit-input-placeholder {
  line-height: 5.5;
  vertical-align: middle;
}

textarea {
  width: 100%;
  height: 100px;
  padding-left: 10px;
  box-shadow: 5px 9px 57px #000;
  border: none;
}

button.btn.btn-primary {
  border-radius: 20px;
  height: 32px;
  width: 100px;
  border: 1px solid #009ff2;
  color: #009ff2;
  font-weight: bold;
  background-color: white;
  margin-top: 20px;
  padding: 0;
}

::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: darkslategray;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width:500px) {
  body p {
    width: 75%;
    margin: 30px auto 30px;
  }
  /*
  CONFIGURAÃƒâ€¡Ãƒâ€¢ES DO HOME
  */
  section.first-page {
    width: 105%;
  }
  .pepper img {
    width: 90% !important;
    margin: 15px;
  }
  .first-page h3 {
    font-size: 1.35rem;
    padding-bottom: 25%;
  }
  .down-seta {
    margin: 45px 45%;
  }
  .pepper {
    margin: 0 auto;
    top: 15%;
    width: 80% !important;
  }
  /*
  CONFIGURAÃƒâ€¡Ãƒâ€¢ES DE QUEM SOMOS
  */
  .quem-somos h1 {
    font-size: 2rem;
    padding-top: 55px;
  }
  .equipe h4 {
    margin: 15px auto -30px !important;
    width: 50%;
    text-align:  center !important;
  }
  .equipe p {
    margin: -5% auto 0;
    font-size: 0.8rem;
  }
  /*
  CONFIGURAÃƒâ€¡Ãƒâ€¢ES DE CONTATO
  */
  section.contato {
    width: 105%;
  }
  .contato h1 {
    font-size: 2.5rem;
  }
  .contato h2 {
    font-size: 2rem;
    font-family: 'ArcaMaj';
    padding: 30px 0;
    margin: -15px auto !important;
  }
  form {
    width: 250px;
  }
  input {
    width: 100%;
    height: 40px;
    margin: 1px !important;
  }
  textarea {
      margin: 15px auto !important;
    }
}
@media screen and (max-width:1000px) {
  body p {
      width: 80vw !important;
  }

  .pepper img {
    width: 45%;
  }

  .equipe p {
    width: 100% !important;
  }
}
