.main-cases {
  background-image: url('../img/cases/fundo1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cases img{
  width: 100%;
  filter: grayscale(100%);
}

.cases img:hover{
  filter: grayscale(0%);
}

.cases div {
    padding:  0;
    margin: -2px 0 0;
}

.bottom-menu{
  text-transform: uppercase;
}

body h1 {
  color: #00d600;
  font-size: 5rem;
  text-align: center;
  padding: 5% 0 2%;
}

body a:hover {
  text-decoration: none;
}

.bottom-menu a {
  display: inline-block;
  position: relative;
  padding: 3% 4% 0%;
  color: white;
  font-family: 'ArcaMaj';
  text-align: center;
}

.bottom-menu a:hover {
  color: #00d600;
}

.bottom-menu {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 85px;
}

@media screen and (max-width:500px) {
  .main-cases {
      height: 100%;
      margin-top: -20px;
  }
  body p {
    width: 75%;
    margin: 30px auto 30px;
  }

  body h1{
    font-size: 30px

  }
  section.title {
    padding-top: 15%;
  }

  header {
    margin: 3% auto;
  }

}
@media screen and (max-width:1000px) {
  body h1{
    font-size: 70px

  }
  section.title {
    padding-top: 15%;
  }

  header {
    margin: 3% auto;
  }

  #menu{
    top: -25% !important;
  }
}
