body a:hover {
  text-decoration: none;
}

body p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: gray;
  text-align: justify;
  width: 41%;
  margin: 0 auto 2%;
}
.down-seta {
  display: block;
  position: absolute;
  margin: 0 50%;
  bottom: 1%;
}
body h2{
  margin: 18px auto;
}

body ul li {
  list-style: none
}

body h1 {
  font-size: 5rem;
  text-align: center;
  padding: 5% 0 2%;
}

header {
  display: block;
  position: absolute;
  z-index: 99999;
  width: 100vw;
}

section {
  width: 100vw;
  height: auto;
  margin: 0;
}

img{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col-12.col-md-6 {
    margin: auto;
}


/*
CONFIGURAÇÕES DO HEAD
*/
.cover {
  display: block;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../img/servicos/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'ArcaMaj';
  text-align: center;
  text-transform: uppercase;
}

.cover h1{
  font-size: 5rem;
  width: 775px;
  margin: 0 auto 110px !important;
  padding-top:  20%;
}

.cover a {
  display: inline-block;
  position: relative;
  padding: 3% 4% 0%;
  color: white;
  font-family: 'ArcaMaj';
  text-align: center;
}

.cover a:hover {
  color: #00d600;
}

/*
CONFIGURAÇÕES DE CONTEUDO
*/
h3.first-section{
  color: #D4882D;
}
h3.second-section{
  color: #60BD58;
}
h3.third-section{
  color: #3CA5DF;
}

section.even.line .r-icon{
  visibility: hidden;
}
section.odd.line .l-icon{
  visibility: hidden;
}

.line.row{
  margin: 5% auto;
}

.line h3{
  text-align: left;
  margin: 20px auto;
}
.odd.line h3{
  text-align: right;
}

.l-icon {
    text-align: right;
}
.r-icon {
    text-align: left;
}
.odd.line p{
  margin-right: 0;
  width: 70%
}
.even.line p{
  margin-left: 0;
  width: 70%
}

.resume p{
  text-align: center;
}

.resume h2{
    text-align: center;
    margin: 5% auto !important;
    width: 50%;
    color: #565656
  }


@media screen and (max-width:1000px) {
  body p {
    width: 75%;
    margin: 30px auto 30px;
  }
/*
CONFIGURAÇÕES DE CONTEUDO
*/
.l-icon{
  visibility: visible !important;
}
.r-icon{
  display: none
}

h3{
  text-align: center !important;
}

.resume h2{
    width: 95% !important;
  }

.l-icon, .r-icon {
    text-align: center;
}

p{
  margin: 50px auto !important;
  width: 70%
}

.resume p{
  text-align: justify;
  margin-bottom: 50px !important;
}

.line img{
  width: 50% !important
}
.cover h1 {
  padding-top: 40%;
  width: 80vw;
  font-size: 50px;
  padding-bottom: 5%;
}

.down-seta {
    margin: 0 auto;
    width: 100vw !important;
}

}
