@font-face {
    font-family: 'ArcaMaj';
    src: url("../font/ArcaMajora3-Bold.otf");
}

body p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: gray;
    text-align: justify;
}

body a{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: gray;
}

body h1{
  font-family: 'ArcaMaj', sans-serif;
  font-size: 90px;
  font-weight: bold;
}

body h2{
  font-family: 'ArcaMaj', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

body h3{
  font-family: 'ArcaMaj', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

a:hover {
  text-decoration: none !important;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    margin: 0;
}

header{
  display: block;
  position: fixed;
  z-index: 99999;
  width: 100%;
}

img#logo {
    width: 85%;
    min width: 120px;
    max-width: 220px;
    margin: 20px;
}

img#botao-menu {
    width: 40px;
    margin: 35px;
    cursor: pointer;
}

button#close-menu {
    top: 0;
    right: 5%;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 50px;
    font-family: 'ArcaMaj';
    position: absolute;
    display: none;
}

/* #myCanvas {
    width: 1000px;
    height: 800px;
    float: right;
} */

.cont-li {
    font-family: 'ArcaMaj';
    font-size: 67px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding-left: 50px;
    padding-bottom: 15px;
    text-decoration: none;
}

.quot {
    font-size: 22px;
    text-align: justify;
}

::-webkit-input-placeholder {
   font-family: 'Roboto', sans-serif;
   letter-spacing: 2px;
   color: #BDBDBD;
   font-size: 13px;
   font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
}

:-ms-input-placeholder {
   color: red;
}

#cases-title {
    color: #00d600;
    font-size: 70px;
    height: 7vh;
    text-align: center;
    z-index: -1;
}

.case-page header{
display: block;
position: relative;
background-color: black;
color: white;
text-align: center;
}

.cases {
  margin:0!important;
  }

.cases div{
  width: 100vw;
}

.cases>div a {
  padding: 0;
  margin: 0;
}

.cases>div img {
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    cursor: pointer;
}

.cases>div img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    cursor: pointer;
}



  #menu {
      display: block;
      position: absolute;
      background-color: #ff9700;
      height: 100vh;
      right: -15px;
      top: 0px;
      padding-top: 150px;
      width: 0vw;
      text-align: left;
  }

 /* QUEM SOMOS START*/

  #quem-somos {
      display: block;
      margin: 0;
      background: white;
      position: absolute;
      top: 100%;
      bottom: 0;
      height: 100%;
      width: 100%;
      padding: 5% 10%;
  }
  #quem-somos>div {
      padding: 0 45px;
  }
  #quem-somos>div:last-child {
      padding-top: 45px;
  }

  #quem-somos p {
      width: 75%;
      float: right;
      margin-right: 10%;
  }

  #quem-somos ul {
    width: auto;
  }

  #quem-somos ul li {
      list-style: none;
      text-align: center;
  }
  #quem-somos h1{
    color: #00d600;
    font: 95px;
  }
  #quem-somos h2{
    font-family: 'ArcaMaj', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #00d600;
  }
  #quem-somos h3{
    font-family: 'ArcaMaj', sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  /* QUEM SOMOS FIM */
  /* SERVIÇOS START */

  #servicos {
      display: block;
      margin: 0;
      background: white;
      position: absolute;
      top: 100%;
      bottom: 0;
      height: 100%;
      width: 100%;
      padding: 5% 10%;
  }

  #servicos h1:first-child {
      letter-spacing: 7px;
      margin-bottom: -17px;
  }

  #servicos p:first-child {
    width: 69%;
    float: right;
}

  #servicos p{
    width: auto;
  }

  #servicos>div {
      padding: 0 45px;
  }
  #servicos h1{
    color: #ff9700;
    font-size: 100px
  }

    /* SERVIÇOS END */
    /* CONTATO START */
  #contato {
      display: block;
      margin: 0;
      background: white;
      position: absolute;
      top: 100%;
      bottom: 0;
      height: 100%;
      width: 100%;
      padding: 5% 10%;
  }


  #contato>div {
      padding: 0 45px;
  }

  #contato p {
      width: 400px;
      text-align: center;
      line-height: 35px;
      font-size: 19px;
      margin: 40px 0;
  }
  p.quot {
    float: right;
    width: 75% !important;
}

  #contato h1 {
      color: #009ff2;
      letter-spacing: 7px;
      line-height: 90px;
      margin-bottom: 50px;
  }

  #contato h1:first-child {
      letter-spacing: 0;
      margin-bottom: 0;
  }

  form {
    float: right;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  input {
    border: 1px solid #009ff2;
    width: 170px;
    height: 35px;
    padding-left: 10px;
    box-shadow: 6px 7px 20px #d2d2d2d2;
  }
  input[type="email"] {
    width: 100%;
    margin: 8px 0;
  }
  textarea {
    border: 1px solid #009ff2;
    width: 100%;
    padding-left: 10px;
    box-shadow: 6px 7px 20px #d2d2d2d2;
  }

  button.btn.btn-primary {
    border-radius: 20px;
    height: 32px;
    width: 100px;
    border: 1px solid #009ff2;
    color: #009ff2;
    font-weight: bold;
    background-color: white;
    margin-top: 20px;
    padding: 0;
}

@media screen and (min-width: 750px){
body{
  overflow: hidden;
}
#botao-menu{
  float:right
}
#logo {
  float: left;
}
}

@media screen and (max-width: 750px){
  body {
    height: 100vh
  }

  body h1 {
    padding: 0px 0 20px;
    font-size: 60px !important;
    text-align: center;
  }

  input {
    width: 75vw !important;
    padding: 10px !important;
    margin: 10px 3px 10px 10px !important;
    height: 6vh;
  }

  textarea {
    width: 75vw !important;
    padding: 10px !important;
    margin: 10px 3px 10px 10px !important;
    height: 10vh;
  }

  #quem-somos h1 {
    padding: 35px 0 20px;
  }

  #quem-somos p {
    width: 85%;
    float: none;
    margin: 10px 10px 30px 15px;
    font-size: 20px;
  }

  #servicos h1:first-child{
    padding: 35px 0 0;
  }

  #servicos p:first-child {
    float: none;
    text-align: justify;
    margin: 10px 20px 30px 20px !important;
    font-size: 20px;
    width: 75vw;
    padding-right: 30px;
  }

  #contato h1:first-child{
    padding: 35px 0 0;
  }

  #contato p {
    width: 300px;
  }

  #contato h1 {
    line-height: 75px;
    margin-bottom: 0;
  }

  iframe {
    width: 75vw;
    height: 25vh;
  }

  p.quot {
      padding-bottom: 15px;
      font-size: 22px;
      text-align: justify;
      width: 75vw !important;
      float: left !important;
  }

  p {
    float: left;
    text-align: justify;
    padding: 0
  }
  .cont-li {
      display: block;
      padding-left: 15px;
      font-size: 45px;
      left: 0;
      text-align: center;
  }

  .video{
      display: none;
  }

  #quem-somos {
    display: block;
    position: absolute;
    top: 10%;
    text-align: center;
    padding: 25px 0 0;
    margin: 0;
    left: 100%;
    }
  #servicos {
    display: block;
    position: absolute;
    top: 10%;
    text-align: center;
    padding: 25px 0 0;
    margin: 0;
    left: 100%;
  }
  #contato {
    display: block;
    position: absolute;
    top: 10%;
    text-align: center;
    padding: 25px 0 0;
    margin: 0;
    left: 100%;
  }
  #cases-head{
    padding: 0
  }

}
