<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">

  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


</head>

<body style="background:black; overflow-x: hidden;">
  <div class="case-page conteiner">
    <!-- <canvas id="myCanvas" width="500" height="500">Your browser does not support the HTML5 canvas tag.</canvas> -->
    <header>
      <div class="row justify-content-center">
        <div class="clearfix col-12">
          <span class="cases-logo logo float-left"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
          <span class="cases-menu menu float-right"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
        </div>
      </div>

      <div class="conteudo-menu">
        <div id="menu">
          <button id="close-menu">X</button>
          <a href="#"><h1 id="menu-quem-somos" class="cont-li">quem somos</h1></a>
          <a href="#"><h1 id="menu-servicos" class="cont-li">serviços</h1></a>
          <a href="#"><h1 id="menu-contato" class="cont-li">contato</h1></a>
          <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 id="menu-cases" class="cont-li">cases</h1></a>
        </div>
      </div>
      <h1 id="cases-title">Cases</h1>
    </header>
    <div class="cases">
      <div class="row justify-content-center">
        <a class="col-12 col-md-6 col-xl-3" href="C:\Users\monal\Desktop\Site Pimenta.co\site\views\darling.html"><img class="img-fluid" src="../statics/img/cases-ativo-darling.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="C:\Users\monal\Desktop\Site Pimenta.co\site\views\side.html"><img class="img-fluid" src="../statics/img/cases-ativo-side.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="https://www.zapalla.com.br"><img class="img-fluid" src="../statics/img/cases-ativo-zapalla.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="C:\Users\monal\Desktop\Site Pimenta.co\site\views\viggo.html"><img class="img-fluid" src="../statics/img/cases-ativo-viggo.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="C:\Users\monal\Desktop\Site Pimenta.co\site\views\triya.html"><img class="img-fluid" src="../statics/img/cases-ativo-Triya.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="C:\Users\monal\Desktop\Site Pimenta.co\site\views\ww.html"><img class="img-fluid" src="../statics/img/cases-ativo-WW.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="https://www.chevroletfanstore.com.br"><img class="img-fluid" src="../statics/img/cases-ativo-chevrolet.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="#"><img class="img-fluid" src="../statics/img/cases-ativo-mercedes.png" alt=""></a>
        <!-- <a class="col-12 col-md-6 col-xl-3" href="#"><img class="img-fluid" src="../statics/img/cases-ativo-frete.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="#"><img class="img-fluid" src="../statics/img/cases-ativo-Chabot.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="#"><img class="img-fluid" src="../statics/img/cases-ativo-embreve.png" alt=""></a>
        <a class="col-12 col-md-6 col-xl-3" href="#"><img class="img-fluid" src="../statics/img/cases-ativo-embreve2.png" alt=""></a> -->
      </div>
    </div>
  </div>


  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>
