<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/main-cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - Cases</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body>
  <div class="main-cases">
  <header>
    <div data-scroll-index="0"></div>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="servicos.html"><h1 class="cont-li">serviços</h1></a>
      <a href="index.html#contato"><h1 class="cont-li">contato</h1></a>
      <a href="" data-scroll-nav="0"><h1 class="cont-li">cases</h1></a>
      <a href="index.html#quem-somos"><h1 class="cont-li">quem somos</h1></a>
    </div>
  </header>

  <section class="title">
    <h1>Cases</h1>
  </section>
  <section class="cases">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3">
        <a href="http://www.worldwine.com.br/" target="_blank"><img src="..\statics\img\cases\WW.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="https://www.darling.com.br/" target="_blank"><img src="..\statics\img\cases\darling.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="https://www.zapalla.com.br/" target="_blank"><img src="..\statics\img\cases\zapalla.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="https://www.sidewalk.com.br/" target="_blank"><img src="..\statics\img\cases\side.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="https://www.lojasviggo.com.br/" target="_blank"><img src="..\statics\img\cases\viggo.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="https://www.triya.com.br/" target="_blank"><img src="..\statics\img\cases\Triya.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="https://www.chevroletfanstore.com.br/" target="_blank"><img src="..\statics\img\cases\chevrolet.png" alt=""></a>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <a href="http://www.mercedes-benzcollection.com.br/" target="_blank"><img src="..\statics\img\cases\mercedes.png" alt=""></a>
      </div>
    </div>
  </section>
  <section class="bottom-menu">
    <a href="servicos.html"><h5>Serviços ></h5></a>
    <a href="cases.html"><h5>Cases ></h5></a>
    <div data-scroll-index="1"></div>
  </section>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li><a href="servicos.html">SERVIÇOS</a></li>
            <li><a href=""data-scroll-nav="0">CASES</a></li>
            <li><a href="index.html#quem-somos">QUEM SOMOS</a></li>
            <li><a href="index.html#contato">CONTATO</a></li>
            <li><a href="frete.html">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-3">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-3">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
</body>

</html>
