<!DOCTYPE HTML>

<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <!-- JAVASCRIPT -->



  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


</head>

<body>
  <div class="case-page conteiner">
    <!-- <canvas id="myCanvas" width="500" height="500">Your browser does not support the HTML5 canvas tag.</canvas> -->
    <header class="row d-flex justify-content-center">
      <div class="clearfix col-12 col-sm-6 col-md-8">
        <span class="logo float-left"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
        <span class="menu float-right"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png"  /></span>
      </div>
      <div id="menu" class="conteudo-menu">
        <div class="row justify-content-sm-around">
          <h1 id="menu-quem-somos" class="col-12">quem somos</h1>
          <h1 id="menu-servicos" class="col-12">serviços</h1>
          <h1 id="menu-contato" class="col-12">contato</h1>
          <h1 id="menu-casess" class="col-12">cases</h1>
        </div>
      </div>
      <h1 class="col-12">Cases</h1>


      </div>
    </header>
    <div class="cases">
      <div class="case-line row">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-darling.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-side.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-zapalla.png" alt="">
      </div>
      <div class="case-line row">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-viggo.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-inativo-Triya.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-inativo-WW.png" alt="">
      </div>
      <div class="case-line row">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-chevrolet.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-mercedes.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-frete.png" alt="">
      </div>
      <div class="case-line row">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-Chabot.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-embreve.png" alt="">
        <img class="col-12 col-sm-3 img-fluid" src="../statics/img/cases-ativo-embreve2.png" alt="">
      </div>
    </div>
  </div>
</body>

</html>
