<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - Darling Case</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body id="darling">
  <header>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="servicos.html"><h1 class="cont-li">serviços</h1></a>
      <a href="index.html#contato"><h1 class="cont-li">contato</h1></a>
      <a href="cases.html"><h1 class="cont-li">cases</h1></a>
      <a href="index.html#quem-somos"><h1 class="cont-li">quem somos</h1></a>
      <a href="frete.html"><h1 class="cont-li">frete pimenta</h1></a>
    </div>
  </header>

  <section class="cover">
    <div class="casemail">
      <a href="http://www.darling.com.br" target="_blank"><h5>www.darling.com.br</h5></a>
      <div class="down-seta">
        <a data-scroll-nav="1"><img src="../statics/img/seta.png" alt=""></a>
      </div>
    </div>

  </section>
  <section class="resume">
    <div data-scroll-index="1"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <img id="case-logo" src="../statics/img/Case_darling/logo.png" alt="">
        <p>A Darling é uma marca de lingerie consolidada no mercado e quando assumimos o site, o principal desafio era aumentar o Mark Up da loja, ou seja, sua margem de lucro.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/Case_darling/modelo.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/Case_darling/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="even line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/Case_darling/pc_gestao_ecommerce.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>GESTÃO DE ECOMMERCE</h3>
        <p>Cadastro dos produtos e suas descrições, atualização dos banners e promoções, acompanhamento dos pedidos, implementação da plataforma bling para a emissão rápida e fácil de nota fiscal.</p>
        <h3>NOVO LAYOUT</h3>
        <p>Redesign atrativo apostando em mostrar o máximo de feminilidade com a navegação simples e prática para o cliente.</p>
        <h3>30,53%</h3>
        <p>De aumento na taxa de conversão após a implementação do novo layout (período considerado 1/12 - 23/2 vs 27/8 - 19/11).</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/Case_darling/div2.png" alt="">
      </div>
    </div>
  </section>
  <section class="odd line">
    <div class="row">
      <div class="gbg"></div>
      <div class="col-12 col-lg-6">
        <h3>RESULTADOS:</h3>
        <h3 class="notatitle"><strong>200%</strong></h3>
        <p>De aumento no lucro líquido de novembro de 2016 pra 2017.</p>
        <h3 class="notatitle"><strong>100%</strong></h3>
        <p>De aumento na receita bruta em um ano.</p>
        <p>Margem líquida média superior a <strong class="bigstrong">24%</strong>.</p>
        <p>Aumento da liberação de pedidos diários de <strong class="bigstrong">20</strong> para <strong class="bigstrong">100</strong> com o uso do <i>Bling</i>, sem aumento significativo no custo.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img class="bigimg" style="max-width:624px" src="../statics/img/Case_darling/FOTOSMODELOS.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/Case_darling/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="odd line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h3>EMAIL MARKETING</h3>
        <p>Como estratégia, optamos por nos aprofundar no storytelling da marca com e-mails marketing, para envolver o cliente não apenas em um ambiente unicamente de compra, como também encantá-lo com toda a história que envolve os produtos.</p>
        <h3 class="notatitle">162%</h3>
        <p>De aumento nos emails cadastrados no nosso mailing em 1 ano (fev/17 - jan/18)</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/Case_darling/PC_EMAILMKT.png" alt="">
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/Case_darling/div2.png" alt="">
      </div>
    </div>

  </section>
  <section class="even line">
    <div class="row">
      <div style="height: 563px; margin:-45px auto"></div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/Case_darling/PC_OUTUBRO_ROSA.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <img class="cent-img" src="../statics/img/Case_darling/outubro_rosa.png" alt="">
        <p>A Darling, em apoio ao mês de conscientização do câncer de mama, implementou campanhas que incentivassem os clientes a contribuírem com a causa.</p>
        <h3 class="notatitle">RESULTADOS</h3>
        <p>Na compra de 3 sutiãs, a cliente automaticamente doava 1 da linha Mastec - elaborado para mulheres que já passaram por uma mastectomia</p>
        <p>Doação de soutiens para instituição de caridade diretamente pelo site.</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/Case_darling/div2.png" alt="">
      </div>
    </div>
  </section>

  <section class="mais-cases">
    <div class="row">
      <div class="col-12">
        <h3><a href="cases.html">MAIS CASES ></a></h3>
        <img src="../statics/img/greenline.png" alt="">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="servicos.html">SERVIÇOS</a></li>
            <li><a href="cases.html">CASES</a></li>
            <li><a href="index.html#quem-somos">QUEM SOMOS</a></li>
            <li><a href="index.html#contato">CONTATO</a></li>
            <li><a href="frete.html">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-4">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-4">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
</body>

</html>
