<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <!-- JAVASCRIPT -->
  <!-- <link type="text/js" href="../statics/js/functions.css"> -->


  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


  </head>
  <body>
    <header style="background-image:url('../statics/img/Case_darling/banner.png')">
      <div class="row justify-content-center">
        <div class="clearfix col-12">
          <span class="logo"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
          <span class="menu"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
        </div>
      </div>

      <div class="conteudo-menu">
        <div id="menu">
          <button id="close-menu">X</button>
          <h1 id="menu-quem-somos" class="cont-li">quem somos</h1>
          <h1 id="menu-servicos" class="cont-li">serviços</h1>
          <h1 id="menu-contato" class="cont-li">contato</h1>
          <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 id="menu-cases" class="cont-li">cases</h1></a>
        </div>
      </div>

    </header>
    <div class="conteiner">
      <div class="row first-line">
        <div class="line-01a col-12 col-lg-6">
          <img src="../statics/img/Case_darling/logo.png" alt="">
          <p id="resume">"A Darling é uma marca de lingerie consolidada no mercado e quando assumimos o site, o principal desafio era aumentar o Mark Up da loja, ou seja, sua margem de lucro.s"</p>
        </div>
        <div class="line-01b col-12 col-lg-6">
          <img src="../statics/img/Case_darling/modelo.png" alt="">
        </div>
        <div class="col-12">
            <img class="div1line" src="../statics/img/Case_darling/div1.png" alt="">
        </div>
      </div>


      <div class="row">
        <div class="line-02a col-12 col-lg-6">
          <img src="../statics/img/Case_darling/pc_gestao_ecommerce.png" alt="">
        </div>
        <div class="line-02b col-12 col-lg-6">
          <h3>GESTÃO DE ECOMMERCE</h3>
          <p>Cadastro dos produtos e suas descrições, atualização dos banners e promoções, acompanhamento dos pedidos, implementação da plataforma bling para a emissão rápida e fácil de nota fiscal.</p>
          <h3>NOVO LAYOUT</h3>
          <p>Redesign atrativo apostando em mostrar o máximo de feminilidade com a navegação simples e prática para o cliente.</p>
          <h3>30,53%</h3>
          <p>De aumento na taxa de conversão após a implementação do novo layout (período considerado 1/12 - 23/2 vs 27/8 - 19/11).</p>

        </div>
        <div class="col-12">
          <img class="div2line" src="../statics/img/Case_darling/div2.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="line-03a col-12 col-lg-6">
          <h3>RESULTADOS:</h3>
          <h3 class="notatitle"><strong>200%</strong></h3>
          <p>De aumento no lucro líquido de novembro de 2016 pra 2017.</p>
          <h3 class="notatitle"><strong>100%</strong></h3>
          <p>De aumento na receita bruta em um ano</p>
          <p>Margem líquida média superior a <strong>24%</strong></p>
          <p>Aumento da liberação de pedidos diários de <strong>20</strong> para <strong>100</strong> com o uso do <i>Bling</i>, sem aumento significativo no custo.</p>

        </div>
        <div class="line-03b col-12 col-lg-6">
          <img src="../statics/img/Case_darling/FOTOSMODELOS.png" alt="">
        </div>
        <div class="col-12">
            <img class="div1line" src="../statics/img/Case_darling/div1.png" alt="">
        </div>
      </div>

      <div class="row">

        <div class="line-04b col-12 col-lg-6">
          <h3>EMAIL MARKETING</h3>
          <p>Como estratégia, optamos por nos aprofundar no storytelling da marca com e-mails marketing, para envolver o cliente não apenas em um ambiente unicamente de compra, como também encantá-lo com toda a história que envolve os produtos.</p>
          <h3 class="notatitle">162%</h3>
          <p>De aumento nos emails cadastrados no nosso mailing em 1 ano (fev/17 - jan/18)</p>
        </div>
        <div class="line-04a col-12 col-lg-6">
          <img src="../statics/img/Case_darling/PC_EMAILMKT.png" alt="">
        </div>

        <div class="row">
          <div class="line-04a col-12 col-lg-6">
            <img src="../statics/img/Case_darling/PC_OUTUBRO_ROSA.png" alt="">
          </div>
          <div class="line-04b col-12 col-lg-6">
            <img class="cent-img" src="../statics/img/Case_darling/outubro_rosa.png" alt="">
            <p>A Darling, em apoio ao mês de conscientização do câncer de mama, implementou campanhas que incentivassem os clientes a contribuírem com a causa.</p>
            <h3 class="notatitle">RESULTADOS</h3>
            <p>Na compra de 3 sutiãs, a cliente automaticamente doava 1 da linha Mastec - elaborado para mulheres que já passaram por uma mastectomia</p>
            <p>Doação de soutiens para instituição de caridade diretamente pelo site.</p>
          </div>

        <div class="col-12">
          <img class="div2line" src="../statics/img/Case_darling/div2.png" alt="">
        </div>
      </div>
    </div>

    <footer>
      <div id="nxt" class="row">
        <div class="col-12">
          <h3><a href="#" class="next-link">MAIS CASES ></a></h3>
          <img src="../statics/img/quem-somos-line.png" alt="">
        </div>
      </div>
    </footer>


    <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../statics/js/functions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>

  </html>
