<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">

  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


</head>
<body>
  <div class="conteiner">
    <!-- <canvas id="myCanvas" width="500" height="500">Your browser does not support the HTML5 canvas tag.</canvas> -->
    <header>
      <div class="row justify-content-center">
        <div class="clearfix col-12">
          <span class="logo"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
          <span class="menu"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
        </div>
      </div>

      <div class="conteudo-menu">
        <div id="menu">
          <button id="close-menu">X</button>
          <h1 id="menu-quem-somos" class="cont-li">quem somos</h1>
          <h1 id="menu-servicos" class="cont-li">serviços</h1>
          <h1 id="menu-contato" class="cont-li">contato</h1>
          <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 id="menu-cases" class="cont-li">cases</h1></a>
        </div>
      </div>
     <div class="link-site">
       <h3>darling.com.br</h3>
     </div>

    </header>

    <div class="conteiner">
      <div class="row">
        <div class="col-12 col-md-6">
          <p>Redesign atrativo apostando em mostrar o máximo de feminilidade com a navegação simples e prática para o cliente.
            Resultados:
            Aumento de 30,53% na taxa de conversão após a implementação do novo layout
          </p>
          <img src="../statics/img/Case_darling/divisor1.png" alt="">
        </div>
        <div class="col-12 col-md-6">
          <img src="../statics/img/Case_darling/modelo.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6">
          <p>Cadastro dos produtos e suas descrições, atualização dos banners e promoções, acompanhamento dos pedidos, implementação da plataforma bling para a emissão rápida e fácil de nota fiscal.
            Resultados:
            Aumento de 200% no lucro líquido de novembro de 2016 para 2017
            Aumento de 100% da receita bruta em um ano
            Margem líquida média superior a 24%
            Aumento da liberação de pedidos diários de XX para YY com o uso do Bling</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>Com linguagem adequada ao público é feito o disparo diário de e-mails aos clientes cadastrados divulgando novas peças e promoções.
            Resultados:
            Aumento de 162% nos emails cadastrados no nosso mailing em apenas 1 ano </p>
        </div>
        <div class="col-12 col-md-6">

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">

        </div>
        <div class="col-12 col-md-6">
          <p>Outubro Rosa
            A Darling, em apoio ao mês de conscientização do câncer de mama, implementou campanhas que incentivassem os clientes a contribuírem com a causa.
            Resultados:
            Na compra de 3 sutiãs, a cliente automaticamente doava 1 da linha Mastec - elaborado para mulheres que já passaram por uma mastectomia
            Doação de soutiens para instituição de caridade diretamente pelo site  </p>
        </div>
      </div>

    </div>
    </div>

    <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../statics/js/functions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>

</html>
