<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/frete.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - Frete Pimenta</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body id="pimenta-frete">
  <header>
    <div data-scroll-index="0"></div>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="servicos.html"><h1 class="cont-li">serviços</h1></a>
      <a href="index.html#contato"><h1 class="cont-li">contato</h1></a>
      <a href="cases.html"><h1 class="cont-li">cases</h1></a>
      <a href="index.html#quem-somos"><h1 class="cont-li">quem somos</h1></a>
      <a href="frete.html"><h1 class="cont-li">frete pimenta</h1></a>
    </div>
  </header>

  <section id="frete" class="cover">
  </section>

  <section class="resume">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h1>CONFIGURAÇÃO DE PLANILHAS DE FRETES</h1>
        <h3>Rápido. Assertivo. Econômico.</h3>
        <p>Configuramos as planilhas de frete dos Correios para o seu e-commerce.</p>
        <p>Nossas tabelas possuem uma maior assertividade de preço e prazo.</p>

        <button data-scroll-nav="1" type="button" name="button">QUERO SABER MAIS</button>

      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-6">
      <img class="divisor divleft" src="..\statics\img\frete\div3.png" alt="">
    </div>
  </div>

  <section class="even line first-l row">
    <div class="col-12 col-md-4">
      <img class="roundimg" src="..\statics\img\frete\icone1.png" alt="">
      <h3>Organização</h3>
      <p>Organizamos as faixas de CEP em intervalos menores e desta forma temos um cálculo mais preciso de valores e prazos</p>
    </div>
    <div class="col-12 col-md-4">
      <img class="roundimg" src="..\statics\img\frete\icone2.png" alt="">
      <h3>Baixo custo anual</h3>
      <p>Oferecemos planos mensais, de acordo com a quantidade de tabelas de frete que sue ecommerce exige. Os valores variam de R$169,00 à R$399,00 ao mês, com atualizações mensais das planilhas.</p>
      <p class="lst-p"><strong>Possuimos também precificação por tabela de Frete.</strong></p>
    </div>
    <div class="col-12 col-md-4">
      <img class="roundimg" src="..\statics\img\frete\icone3.png" alt="">
      <h3>48 Horas úteis</h3>
      <p>Solução rápida. Garantimos tabelas atualizadas em 48 horas úteis, portanto, em apenas dois dias seu e-commerce terá todos os CEPs regularizados, com valores de frete corretos.</p>
      <p class="lst-p"><strong>Fácil, rápido e sem dor de cabeça.</strong></p>
    </div>
  </section>

  <div class="row">
    <div class="col-12 col-md-7 offset-md-5">
      <img class="divisor divright" src="..\statics\img\frete\div2.png" alt="">
    </div>
  </div>

  <section class="odd line row">
    <div class="col-12 offset-md-2 col-md-4">
      <div class="cor-vet">
        <img src="..\statics\img\frete\correios.png" alt="">
      </div>
      <div class="cor-vet">
        <p>Se você utiliza o correio como plataforma lhe garantimos um desconto em nossos planos, com poucas informações a sua tabela está pronta e atualizada.</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="cor-vet">
        <img src="..\statics\img\frete\vtex.png" alt="">
      </div>
      <div class="cor-vet">
        <p>Temos uma política especial para clientes que utilizam a plataforma líder no Brasil.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      <h1 id="vtex-box">Desconto especial para vtex partner</h1>
    </div>
  </section>

  <div class="row">
    <div class="col-6">
      <img class="divisor divleft" src="..\statics\img\frete\div3.png" alt="">
    </div>
  </div>

  <section class="even line second-l row">
    <div class="col-12">
      <h2>Por que manter suas tabelas atualizadas?</h2>
    </div>
    <div class="col-12 offset-md-2 col-md-4">
      <img class="roundimg" src="..\statics\img\frete\icone4.png" alt="">
      <h2>Redução de custos</h2>
      <p>CEPs desatualizados implicam em gastos elevadods desnececssários. A maioria das pessoas só percebe isso no fim do mês, quando os custos são apurados e revisados, e fica constatado que o e-commerce está cobrando um frete menor do que o rea - o que
        sempre implicará em prejuízos para a loja. Com os CEPs atualizados, isso não acontece.</p>
    </div>
    <div class="col-12 col-md-4">
      <img class="roundimg" src="..\statics\img\frete\icone5.png" alt="">
      <h2>Credibilidade</h2>
      <p>Com as tabelas dos Correios regularizadas e em dia, você irá cobrar um valor justo dos seus clientes. Além disso, o cálculo do prazo de frete será mais assertivos e suas entregas serão realizadas no tempo prometido</p>
    </div>
    <div class="col-12">
      <button data-scroll-nav="1" type="button" name="button">Quero saber mais</button>
    </div>
  </section>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-6">
      <img class="divisor divright" src="..\statics\img\frete\div2.png" alt="">
    </div>
  </div>
  <section class="odd line row">
    <div class="col-12 col-md-8 offset-md-2">
      <h2>36% das reclamações de e-commerce são de falha na entrega</h2>
      <p>Segundo o Procon, <strong>36% das reclamações</strong> relacionadas ao comércio eletrônico, em 2014, foram motivadas pela demora ou nãp entrega do prodyto. No mesmo ano, 4% das queixas foram por conta de cobrança indevida do valor do frete ou do
        preço do produto na fatura do cartão.</p>
    </div>
  </section>
  <div class="row">
    <div class="col-12 col-md-6">
      <img class="divisor divleft" src="..\statics\img\frete\div1.png" alt="">
    </div>
  </div>
  <section class="even line row">
    <div class="col-12 col-md-8 offset-md-2">
      <h2>Plano individual</h2>
      <p>Este plano compreende a contratação de apenas uma atualização da sua tabela de fretes. Escolhendo esta opção, nos comprometemos a criá-la e instalá-la para você.</p>
    </div>
    <div class="col-12">
      <img src="..\statics\img\frete\individual.png" alt="">
    </div>
    <div class="col-12 col-md-8 offset-md-2">
      <h2>Plano Mensal</h2>
      <p>Cálculos errados de frete e de data de entrega do produto podem desestimular o cliente e causar o abandono do carrinho em uma loja online. Pensando neste importante fator de decisão de compra, ter em mãos tabelas atualizadas mensalmente é essencial
        para um bom funcionamento de todo o seu sistema de e-commerce. Sendo assim, na contratação deste plano, você terá um update mensal de todos os seus cálculos de frete e não deixará escapar nenhuma oportunudade de venda.</p>
    </div>
    <div class="col-12">
      <img src="..\statics\img\frete\mensal.png" alt="">
    </div>
  </section>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-6">
      <img class="divisor divright" src="..\statics\img\frete\div4.png" alt="">
    </div>
  </div>
  <div data-scroll-index="1"></div>
  <section class="odd line row">
    <div class="col-12 col-md-12">
      <h2>cadastre-se já e receba um novo orçamento</h2>
      <form class="" action="" method="post">
        <div>
          <span><input type="text" placeholder="Nome*"></input></span>
          <span><input type="text" placeholder="Empresa*"></input></span>
        </div>
        <div>
          <span><input type="email" placeholder="E-mail*"></input></span>
          <span><input type="tel" placeholder="Telefone*"></input></span>
        </div>
        <div class="checkbox">
          <p><strong>Tipo de Plano</strong></p>
          <label class="checkbox">Mensal
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="checkbox">Individual
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>

          <p><strong>Quantidade</strong></p>
        </div>
        <div class="">
          <select class="" name="tabelas">
              <option value="1">1 Tabela</option>
              <option value="2">2 Tabela</option>
              <option value="3">3 Tabela</option>
              <option value="4">4 Tabela</option>
              <option value="5">5 Tabela</option>

            </select>
        </div>
        <div>
          <textarea placeholder="Mensagem"></textarea>
        </div>
        <button type="submit" class="">Enviar</button>
      </form>
    </div>
  </section>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="servicos.html">SERVIÇOS</a></li>
            <li><a href="cases.html">CASES</a></li>
            <li><a href="index.html#quem-somos">QUEM SOMOS</a></li>
            <li><a href="index.html#contato">CONTATO</a></li>
            <li><a href="frete.html">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-4">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-4">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>

</body>

</html>
