<!DOCTYPE HTML>

<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/styles.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style-fontes.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <!-- JAVASCRIPT -->
  <script type="text/javascript" src=""></script>

  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


</head>

<body>
  <div class="conteiner">
    <header class="row">
      <a href="/"><img id="logo" src="../statics/img/pimenta-logo.png" /></a>
      <span class="menu">
          <img id="botao-menu" src="../statics/img/menu-orange.png"  />
          <div class="conteudo-menu">
            <a href="">quem somos</a>
            <a href="">serviços</a>
            <a href="">contato</a>
            <a href="">cases</a>
          </div>
        </span>
    </header>
    <!-- END HEADER -->

    <!-- HOME START-->
    <div class="row">
      <div class="col-12 embed-responsive embed-responsive-16by9">
        <video autoplay muted loop>
          <source src="../statics/videos/test-video.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
    </div>
    <!-- HOME END-->
    <!-- QUEM SOMOS START-->
    <div id="quem-somos" class="row">
      <div class="col-12 col-sm-6 text-right">
        <h1>Quem é a Pimenta?</h1>

        <p>A Pimenta foi fundada em setembro de 2015, com a missão de gerir e operar lojas virtuais com foco nos resultados.</p>
        <p>Nossa ideia central é trabalhar tanto com marcas já estabelecidas e que têm alto potencial de mercado, quanto com modelos de negócio que pretendem aprimorar seus serviços de e-commerce. </p>
      </div>
      <div class="col-12 col-sm-6">
        <div class="row">
          <h2 class="subtitle col-12 text-center">Fundadores</h2>
          <ul class="col-12 col-sm-4">
            <li><img class="img-responsive" src="../statics/img/quem-somos-deco.png" /></li>
            <li>
              <h3>Deco<br />Nowill</h3></li>
            <li><a href="mailto:deco@pimentafull.com.br">deco@pimentafull.com.br</a></li>
          </ul>
          <ul class="col-12 col-sm-4">
            <li><img class="img-responsive" src="../statics/img/quem-somos-gu.png" /></li>
            <li>
              <h3>Gustavo<br />dos Santos</h3></li>
            <li><a href="mailto:gustavo@pimentafull.com.br">gustavo@pimentafull.com.br</a></li>
          </ul>
          <ul class="col-12 col-sm-4">
            <li><img class="img-responsive" src="../statics/img/quem-somos-dudi.png" /></li>
            <li>
              <h3>Eduardo<br />Barbieri</h3></li>
            <li><a href="mailto:eduardo@pimentafull.com.br">eduardo@pimentafull.com.br</a></li>
          </ul>
          <div class="col-12 text-center">
            <h2>(11) 3900-1480</h2>
            <img class="img-responsive" src="../statics/img/quem-somos-line.png" />
          </div>
        </div>
      </div>
    </div>
    <!-- QUEM SOMOS END-->
    <!-- SERVIÇOS START-->
    <div id="servicos" class="row">
      <div class="col-12 col-sm-6 text-right">
        <h1>Nossos Serviços</h1>
        <p>Garantimos 100% do funcionamento do núcleo do e-commerce, com foco em resultados. Ter dentro de casa a expertise do comercio vitual reduz os custos e aumenta a agilidade da operação. O domínio do corebusiness impactada diretamente no fluxo de
          caixa da loja.</p>
        <p>
          <strong>"</strong>Assim como um sapateiro tem o domínio da fabricação de sapatos, a Pimenta tem o domínio das ferramentas de vendas online.<strong>"</strong></p>
      </div>
      <div class="col-12 col-sm-6">
        <img class="col-12" src="../statics/img/teste.jpg" />
      </div>
    </div>
    <!-- SERVIÇOS END-->
    <!-- CONTATO START-->
    <div id="contato" class="row">
      <div class="col-12 col-sm-6 text-right">
        <h1>Entre em <br />
          Contato</h1>
        <form class="contato-form">
          <div>
            <input type="text" placeholder="Nome"></input>
            <input type="tel" placeholder="Telefone"></input>
          </div>
          <div>
            <input type="email" placeholder="E-mail"></input>
          </div>
          <div>
            <input type="text"placeholder="Mensagem"></input>
          </div>
          <button type="submit">Enviar</button>
        </form>
      </div>

      <div class="col-12 col-sm-6">
        <p> Venha bater um papo conosco.<br />
        O café é por nossa conta :) </p>
        div
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d646.4929213136672!2d-46.684548267778744!3d-23.56426873632135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1522863863149" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- CONTATO END-->
    <!-- FOOTER -->
    <footer class="row">
      <ul>
        <li>PT</li>
        <li>ENG</li>
      </ul>
    </footer>
  </div>
</body>

</html>
