<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../statics/css/home.css">
    <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
    <title>Pimenta.co</title>
    <link rel="icon" href="../statics/img/icon.png">
  </head>
  <body>
    <header>
      <div class="clearfix col-12">
        <span><a data-scroll-nav="0" href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
        <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
      </div>
      <div id="menu">
        <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
        <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/servicos.html"><h1 class="cont-li">serviços</h1></a>
        <a data-scroll-nav="2" href="#contato"><h1 class="cont-li">contato</h1></a>
        <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 class="cont-li">cases</h1></a>
        <a data-scroll-nav="1" href="#quem-somos">  <h1 class="cont-li">quem somos</h1></a>
      </div>
    </header>

    <section data-scroll-index="0" class="first-page">
      <div class="col-12 pepper">
        <img src="../statics/img/home/Pepper.png" alt="">
        <img src="../statics/img/home/CO.png" alt="">
      </div>
      <div class="col-12 home-text">
        <h3>Um parceiro estratégico focado na venda</h3>
        <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/servicos.html"><h5>Serviços ></h5></a>
        <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h5>Cases ></h5></a>
        <div data-scroll-index="1"></div>
      </div>

      <div class="down-seta">
        <a data-scroll-nav="1"><img src="../statics/img/seta.png" alt=""></a>
      </div>
    </section>

    <section class="quem-somos">
      <div class="row">
        <div class="col-12">
          <h1>Expertise e Inovação</h1>
        </div>
        <div class="col-12">
          <p>A Pimenta foi fundada em setembro de 2015, com a missão de gerir e operar lojas virtuais com foco nos resultados.</p>
          <p>Nossa ideia central é trabalhar tanto com marcas já estabelecidas e que têm alto potencical de mercado, quanto com modelos de negócio que pretendem aprimorar seus serviços de e-commerce.</p>
        </div>
        <div class="col-12">
          <h3>A Equipe</h3>
          <div class="row equipe">
            <ul class="col-6 col-md-2 offset-md-1">
              <li> <img src="../statics/img/home/deco.png" alt=""> </li>
              <li> <h4>Deco Nowill</h4> </li>
              <li> <p>Direção Geral</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/gu_santos.png" alt=""> </li>
              <li> <h4>Gustavo dos Santos</h4> </li>
              <li> <p>Finanças / RH</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/dude.png" alt=""> </li>
              <li> <h4>Eduardo Barbieri</h4> </li>
              <li> <p>Direção de Marketing</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/jose.png" alt=""> </li>
              <li> <h4>José Araujo</h4> </li>
              <li> <p>Direção de Arte</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/renata.png" alt=""> </li>
              <li> <h4>Renata Peria</h4> </li>
              <li> <p>Gestão Operacional</p> </li>
            </ul>
            <ul class="col-6 col-md-2 offset-md-1">
              <li> <img src="../statics/img/home/thais.png" alt=""> </li>
              <li> <h4>Thaís Torres</h4> </li>
              <li> <p>Redação</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/gabi.png" alt=""> </li>
              <li> <h4>Gabriela Raimunda</h4> </li>
              <li> <p>Atendimento</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/gu_lago.png" alt=""> </li>
              <li> <h4>Gustavo Lago</h4> </li>
              <li> <p>Criação</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/mona.png" alt=""> </li>
              <li> <h4>Monalisa Motterle</h4> </li>
              <li> <p>Programação Front-end</p> </li>
            </ul>
            <ul class="col-6 col-md-2">
              <li> <img src="../statics/img/home/tami.png" alt=""> </li>
              <li> <h4>Tamires Almeida</h4> </li>
              <li> <p>Atendimento</p> </li>
            </ul>

            </div>
          </div>
        </div>
    </section>
    <section class="contato">
      <div  data-scroll-index="2" class="row">
        <div class="col-12">
          <h1>Entre em contato</h1>
          <h2>(11) 3900-1480</h2>

          <p>Você também pode nos mandar uma mensagem:</p>
        </div>
        <div class="col-12">
          <form>
            <div>
              <span><input type="text" placeholder="Nome"></input></span>
              <span><input type="tel" placeholder="Telefone"></input></span>
            </div>
            <div>
              <input type="email" placeholder="E-mail"></input>
            </div>
            <div>
              <textarea placeholder="Mensagem"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        <div class="col-12">
          <p>Venha bater um papo conosco. O café é por nossa conta :)</p>
        </div>
        <div class="col-12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.118305092977!2d-46.68635328451217!3d-23.56419416758316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce579de9fca203%3A0x495baefee60eeb21!2sR.+Artur+de+Azevedo%2C+1361+-+Pinheiros%2C+S%C3%A3o+Paulo+-+SP%2C+05404-013!5e0!3m2!1spt-BR!2sbr!4v1523991589435" width="1200" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-3">
            <ul>
              <li><a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/servicos.html">SERVIÇOS</a></li>
              <li><a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html">CASES</a></li>
              <li><a data-scroll-nav="1" href="#quem-somos">QUEM SOMOS</a></li>
              <li><a data-scroll-nav="2" href="#contato">CONTATO</a></li>
              <li><a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/frete.html">FRETE PIMENTA</a></li>
            </ul>
          </div>

          <div class="col-4 col-md-3">
            <img src="..\statics\img\Camada 26.png" alt="">
          </div>
          <div class="col-8 col-md-3">
            <img src="..\statics\img\Camada 27.png" alt="">
          </div>
          <div class="last-line col-12">
            <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
            <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
          </div>

        </div>
      </div>

    </footer>

    <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../statics/js/functions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
  </body>
</html>
