<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/servicos.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - Serviços</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body>
  <header>
    <div data-scroll-index="0"></div>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/servicos.html"><h1 class="cont-li" data-scroll-nav="1">serviços</h1></a>
      <a href="#contato"><h1 class="cont-li">contato</h1></a>
      <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 class="cont-li">cases</h1></a>
      <a href="#quem-somos">
        <h1 class="cont-li">quem somos</h1></a>
    </div>
  </header>

  <section class="cover">
    <h1>O que nós temos a oferecer</h1>
    <a data-scroll-nav="1" href="#servicos"><h5>Serviços ></h5></a>
    <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h5>Cases ></h5></a>

    <div class="down-seta">
      <a data-scroll-nav="1"> <img src="../statics/img/seta.png" alt=""></a>
    </div>
  </section>
  <div data-scroll-index="1"></div>
  <section class="resume" data-scroll-nav="1">
    <h2>"Assim como um sapateiro tem o domínio da fabricação de sapatos, a Pimenta tem o domínio das ferramentas de venda online."</h2>
    <p>Garantimos 100% do funcionamento do núcleo do e-commerce, com foco em resultado. Ter dentro de casa a expertise do comercio virtual reduz os custos e aumenta a agilidade da operação. O domínio do corebusiness impacta diretamente no fluco de caixa
      da loja.</p>
  </section>
  <section class="even line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\80.png" alt="">
    </div>
    <div class="info col-12 col-md-6">
      <h3 class="first-section">Análise de Viabilidade</h3>
      <p>Alisamos se o seu projeto de site é viável fazendo simulações de investimento em mídia, conversão de valores, lucro, viabilidade online da marca e mais. Sempre pensando no melor caminho a ser tomado diante dos resultados obtidos via análise prévia.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\80.png" alt="">
    </div>
  </section>
  <section class="odd line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\75.png" alt="">
    </div>
    <div class="info col-12 col-md-6">
      <h3 class="first-section">Gestão de Catálogo</h3>
      <p>Cadastramos e categorizamos os produtos na plataforma, elaboramos descritivos baseados em SEO, com o cuidado de escolher as palavras chave ideiais para cada item, e produzimos gotos em still ou com modelo para a apresentação adequada dos produtos.</p>
    </div>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\75.png" alt="">
    </div>
  </section>
  <section class="even line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\76.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="info first-section">Gerenciamento de Mídias</h3>
      <p>Elaboramos campanhas para os principais sites de relacionamento, como Facebook e Instagram e investimos na otimização das ferramentas que impulsionam e ajuda a colocar seu site em destaque nos maiores buscadoress globais, como Google, Bing e Yahoo.
        Além disso, também focamos na produção de e-mail marketing para o impulsionamento de vendas.</p>
    </div>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\76.png" alt="">
    </div>
  </section>
  <section class="odd line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\77.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="second-section">Gerenciamento de Mídias</h3>
      <p>Elaboramos campanhas para os principais sites de relacionamento, como Facebook e Instagram e investimos na otimização das ferramentas que impulsionam e ajuda a colocar seu site em destaque nos maiores buscadoress globais, como Google, Bing e Yahoo.
        Além disso, também focamos na produção de e-mail marketing para o impulsionamento de vendas.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\77.png" alt="">
    </div>
  </section>
  <section class="even line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\72.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="second-section">Implementação de Promoções</h3>
      <p>Pensamos na divulgação e implementação de promoções como descontos progressivos, frete grátis, compre e ganhe mais.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\72.png" alt="">
    </div>
  </section>
  <section class="odd line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\73.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="second-section">Gerenciamento de Conversão</h3>
      <p>Acompanhamos de perto a conversão da loja sempre pensando na criação de estratégias para a melhoria de serviços e aumento de rendimento. Um exemplo é a elaboração de campanhas de "carrinho abandonado", que servem como um lembrete para o cliente
        de algum produto que ele havia buscado no site, mas que por algum motivo desistiu de comprar. Ações como esta ajudam a chamar a atenlçai do comprador e a conquistar novamente seu interesse pelo produto.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\73.png" alt="">
    </div>
  </section>
  <section class="even line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\74.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="third-section">Gerenciamento de Logística</h3>
      <p>Controlamos e gerenciamos os pedidos, pensando sempre na viabilidade logística da entrega, como a organização di estoque (pick and packing) e separação dos pedidos. Pensando também nas possíveis trocas de produto, trablhamos com logística reversa,
        além de investirmos tambémm em tabelas de frete sempre atualizadas.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\74.png" alt="">
    </div>
  </section>
  <section class="odd line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\78.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="third-section">Controle de SAC e atendimento ao cliente</h3>
      <p>Oferecemos todo o apoio ao cliente que entra em contato com a marca, nos disponibilizando a ajudá-lo e tirar sua dúvidas e na resolução de seus problemas.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\78.png" alt="">
    </div>
  </section>
  <section class="even line row">
    <div class="l-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\79.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <h3 class="third-section">Aprimoramento de ferramentas de ecommerce</h3>
      <p>Trabalhamos com algumas ferramentas específicas, que ajudam a aumentar a conversão das lojas. Entre elas, estão a melhoria do botão de compras, a instalação de chats para respostas de dúvidas, campanhas automatizadas de e-mail, descritivos focados
        em SeO e mais.</p>
    </div>
    <div class="r-icon col-12 col-md-3">
      <img src="..\statics\img\servicos\79.png" alt="">
    </div>
  </section>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <ul>
            <li><a href="#" data-scroll-nav="0">SERVIÇOS</a></li>
            <li><a href="#">CASES</a></li>
            <li><a href="#">QUEM SOMOS</a></li>
            <li><a href="#">CONTATO</a></li>
            <li><a href="#">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-3">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-3">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
</body>

</html>
