<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <!-- JAVASCRIPT -->
  <!-- <link type="text/js" href="../statics/js/functions.css"> -->


  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


  </head>
  <body>
    <header>
      <div class="row justify-content-center">
        <div class="clearfix col-12">
          <span class="logo"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
          <span class="menu"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
        </div>
      </div>

      <div class="conteudo-menu">
        <div id="menu">
          <button id="close-menu">X</button>
          <h1 id="menu-quem-somos" class="cont-li">quem somos</h1>
          <h1 id="menu-servicos" class="cont-li">serviços</h1>
          <h1 id="menu-contato" class="cont-li">contato</h1>
          <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 id="menu-cases" class="cont-li">cases</h1></a>
        </div>
      </div>

    </header>
    <div class="conteiner">
      <div class="row">
        <div class="line-01a col-12 col-md-6">
          <img src="../statics/img/case_side/logo.png" alt="">
          <p id="resume">"Criada em 1999, a World Wine é uma das três maiores importadoras de vinhos premium do Brasil e conta com cerca de 2 mil rótulos safrados de mais de 150 produtores exclusivos de 14 países como França, Itália, Chile, Argentina, Portugal, Espanha, Alemanha e Hungria."</p>
          <img class="div1line" src="../statics/img/case_side/div1.png" alt="">
        </div>
        <div class="line-01b col-12 col-md-6">
          <img src="../statics/img/case_side/vinhos.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="line-02a col-12 col-md-6">
          <img src="../statics/img/case_side/home_desk.png" alt="">
        </div>
        <div class="line-02b col-12 col-md-6">
          <h3>MELHORIAS NO FLUXO<br />DA LOJA</h3>
          <p>Desde 2008 o cliente contava com um e-commerce completamente estagnado no patamar de vendas. Para aumentar o fluxo e aumento de caixa online, todas as mídias foram revisadas (sendo que as de ROI baixo foram descartadas).</p>
          <p>Definição de gargalos: incentivamos de diversas maneiras o cliente a vivenciar a experiência de compra na loja da World Wine. Percebemos que por causa da dificuldade de check-out do site, muitos clientes desistiam da compra, por isso passamos a investir nos email marketings, que se comunicam diretamente com a base de clientes já cadastrados no site. Com essa ação multiplicamos em 5 x as vendas online. </p>
          <img class="div2line" src="../statics/img/case_side/div2.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="line-03a col-12 col-md-6">
          <h3>EMAIL MARKETING</h3>
          <p>Foi necessária a troca de ferramenta de disparo de e-mails, para gerar conteúdos mais responsivos e que se adaptam ao layout de tela do usuário (celular ou computador).</p>
          <p>Após este processo, selecionamos os melhores e-mails da marca, cerca de 10% de 50 mil nomes, para performar com mais objetividade.</p>
          <h3 class="notatitle">111,38%</h3>
          <p>De aumento do faturamento de e-mail marketing da World Wine após a entrada da Pimenta em apenas um ano.</p>
          <img class="div1line" src="../statics/img/case_side/div1.png" alt="">
        </div>
        <div class="line-03b col-12 col-md-6">
          <img src="../statics/img/case_side/PC_EMKT.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="line-04a col-12 col-md-6">
          <img src="../statics/img/case_side/PC_ACOESDEMKT.png" alt="">
        </div>
        <div class="line-04b col-12 col-md-6">
          <h3>AÇÕES DE MARKETING DIGITAL:<br /> SELETOR DE VINHO</h3>
          <p id="quot">Qual o vinho ideal para você? <br /> Taxa de conversão média é 4%</p>
          <p>Ajudamos o cliente indeciso a escolher seu vinho com desconto respondendo apenas três perguntas: Qual estilo de vinho você mais gosta? Qual a ocasião? Qual a harmonização?</p>
          <img class="div2line" src="../statics/img/case_side/div2.png" alt="">
        </div>
      </div>
    </div>

    <footer>
      <div class="row justify-content-center">
        <div class="mid-icon col-12 col-md-3">
          <h3>Facebook AdWords</h3>
          <img src="../statics/img/case_side/ICON1.png" alt="">
        </div>
        <div class="mid-icon col-12 col-md-3">
          <h3>Mídia programática</h3>
          <img src="../statics/img/case_side/ICON2.png" alt="">
        </div>
        <div class="mid-icon col-12 col-md-3">
          <h3>Relatórios mensais</h3>
          <img src="../statics/img/case_side/ICON3.png" alt="">
        </div>

      </div>
      <div id="nxt" class="row">
        <div class="col-12">
          <h3><a href="#" class="next-link">MAIS CASES ></a></h3>
          <img src="../statics/img/quem-somos-line.png" alt="">
        </div>
      </div>
    </footer>


    <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../statics/js/functions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>

  </html>
