<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - SideWalk Case</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body id="side">
  <header>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="servicos.html"><h1 class="cont-li">serviços</h1></a>
      <a href="index.html#contato"><h1 class="cont-li">contato</h1></a>
      <a href="cases.html"><h1 class="cont-li">cases</h1></a>
      <a href="index.html#quem-somos"><h1 class="cont-li">quem somos</h1></a>
      <a href="frete.html"><h1 class="cont-li">frete pimenta</h1></a>
    </div>
    </div>
  </header>

  <section class="cover">
    <div class="casemail">
      <a href="https://www.sidewalk.com.br/" target="_blank"><h5>www.sidewalk.com.br</h5></a>
      <div class="down-seta">
        <a data-scroll-nav="1"><img src="../statics/img/seta.png" alt=""></a>
      </div>
    </div>

  </section>
  <section class="resume">
    <div data-scroll-index="1"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <img id="case-logo" src="../statics/img/case_side/logo.png" alt="">
        <p>Três amigos, muita sintonia e vontade de criar algo novo para o mercado brasileiro. Foi assim que, em 1982, Luis Gelpi, Eduardo Rizk e Tinho Azambuja fundaram a Side Walk, uma marca de espírito jovem, que nasceu com o DNA repleto de originalidade
          e irreverência.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_side/apresentacao.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/case_side/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="even line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_side/gestao.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>GESTÃO<br />DE ECOMMERCE</h3>
        <p>Cadastro dos produtos com descrições, atualização dos banners, acompanhamento dos pedidos.</p>
        <h3>LAYOUT ATRATIVO</h3>
        <p>Cadastro dos produtos com descrições, atualização dos banners, acompanhamento dos pedidos.</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/case_side/div2.png" alt="">
      </div>
    </div>
  </section>
  <section class="odd line">
    <div class="row">
      <div class="gbg">

      </div>
      <div class="col-12 col-lg-6">
        <h3>ARMAZENAMENTO<br />DE ESTOQUE</h3>
        <p>Total controle dos produtos disponíveis e autonomia para a criação de promoções.</p>
        <h3>CURADORIA<br />FOTOGRÁFICA</h3>
        <p>Acompanhamento de ensaios e sessões fotográficas de novas peças e coleções.</p>
      </div>
      <div class="col-12 col-lg-6 gbg">
        <img class="bigimg" style="max-width:550px;" src="../statics/img/case_side/casal.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/case_side/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="even line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_side/email.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>EMAIL MARKETING</h3>
        <p>Com linguagem adequada ao público é feito o disparo diário de e-mails aos clientes cadastrados divulgando novas peças e promoções.</p>
        <h3>SAC</h3>
        <p style="text-align:  center;">Atendimento por e-mail, chat e telefone.</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/case_side/div2.png" alt="">
      </div>
    </div>

  </section>

  <section class="mais-cases">
    <div class="row">
      <div class="col-12">
        <h3><a href="cases.html">MAIS CASES ></a></h3>
        <img src="../statics/img/greenline.png" alt="">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="servicos.html">SERVIÇOS</a></li>
            <li><a href="cases.html">CASES</a></li>
            <li><a href="index.html#quem-somos">QUEM SOMOS</a></li>
            <li><a href="index.html#contato">CONTATO</a></li>
            <li><a href="frete.html">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-4">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-4">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
</body>

</html>
