<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <!-- JAVASCRIPT -->
  <!-- <link type="text/js" href="../statics/js/functions.css"> -->


  <title>Pimenta.co</title>
  <link rel="icon" href="../statics/img/icon.png">


</head>

<body style="background-image: url('../statics/img/home_fundo.jpg'); background-repeat: no-repeat; background-size: cover; height:100vh;">
  <div class="conteiner">
    <!-- <canvas id="myCanvas" width="500" height="500">Your browser does not support the HTML5 canvas tag.</canvas> -->
    <header>
      <div class="row justify-content-center">
        <div class="clearfix col-12">
          <span class="logo"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
          <span class="menu"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
        </div>
      </div>

      <div class="conteudo-menu">
        <div id="menu">
          <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
          <h1 id="menu-servicos" class="cont-li">serviços</h1>
          <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 id="menu-cases" class="cont-li">cases</h1></a>
          <h1 id="menu-quem-somos" class="cont-li">quem somos</h1>
          <h1 id="menu-contato" class="cont-li">contato</h1>

        </div>
      </div>

    </header>
    <!-- END HEADER -->

    <!-- HOME START-->
    <!-- <div class="video">
      <div class="row">
        <video autoplay muted loop id="myVideo" class="Col-12">
          <source src="../statics/videos/test-video.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>
      </div>
    </div>
    </div> -->


  <!-- HOME END-->
  <!-- QUEM SOMOS START-->

  <div id="quem-somos">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h1>Quem é a Pimenta?</h1>
        <p>A Pimenta foi fundada em setembro de 2015, com a missão de gerir e operar lojas virtuais com foco nos resultados.</p>
        <p>Nossa ideia central é trabalhar tanto com marcas já estabelecidas e que têm alto potencial de mercado, quanto com modelos de negócio que pretendem aprimorar seus serviços de e-commerce. </p>
      </div>
      <div class="col-12 col-xl-6">
        <div class="row">
          <h2 class="subtitle col-12 text-center">Fundadores</h2>
          <ul class="col-12 col-sm-4">
            <li><img class="img-responsive" src="../statics/img/quem-somos-deco.png" /></li>
            <li>
              <h3>Deco<br />Nowill</h3></li>
            <li><a href="mailto:deco@pimentafull.com.br">deco@pimentafull.com.br</a></li>
          </ul>
          <ul class="col-12 col-sm-4">
            <li><img class="img-responsive" src="../statics/img/quem-somos-gu.png" /></li>
            <li>
              <h3>Gustavo<br />dos Santos</h3></li>
            <li><a href="mailto:gustavo@pimentafull.com.br">gustavo@pimentafull.com.br</a></li>
          </ul>
          <ul class="col-12 col-sm-4">
            <li><img class="img-responsive" src="../statics/img/quem-somos-dudi.png" /></li>
            <li>
              <h3>Eduardo<br />Barbieri</h3></li>
            <li><a href="mailto:eduardo@pimentafull.com.br">eduardo@pimentafull.com.br</a></li>
          </ul>
          <div class="col-12 text-center">
            <h2>(11) 3900-1480</h2>
            <img class="img-responsive" src="../statics/img/quem-somos-line.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- QUEM SOMOS END-->
  <!-- SERVIÇOS START-->
  <div id="servicos">
    <div class="row">
      <div class="col-12 col-xl-6 text-right">
        <h1>Nossos</h1>
        <h1>Serviços</h1>

        <div class="p-content">
          <p>Garantimos 100% do funcionamento do núcleo do e-commerce, com foco em resultados. Ter dentro de casa a expertise do comercio vitual reduz os custos e aumenta a agilidade da operação. O domínio do corebusiness impactada diretamente no fluxo de
            caixa da loja.</p>
          <p class="quot">
            <strong>"</strong> Assim como um sapateiro tem o domínio da fabricação de sapatos, a Pimenta tem o domínio das ferramentas de vendas online.<strong>"</strong></p>

        </div>
      </div>
      <div class="col-12 col-xl-6">
        <img class="col-12" src="../statics/img/circulo.png" />
      </div>
    </div>
  </div>
    <!-- SERVIÇOS END-->
    <!-- CONTATO START-->
    <div id="contato">
      <div class="row">
        <div class="col-12 col-xl-6 text-right">
          <h1>Entre em</h1>
          <h1>Contato</h1>
          <form>
            <div>
              <span><input type="text" placeholder="Nome"></input></span>
              <span><input type="tel" placeholder="Telefone"></input></span>
            </div>
            <div>
              <input type="email" placeholder="E-mail"></input>
            </div>
            <div>
              <textarea placeholder="Mensagem"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>

        <div class="col-12 col-xl-6">
          <p> Venha bater um papo conosco.<br /> O café é por nossa conta :) </p>
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d646.4929213136672!2d-46.684548267778744!3d-23.56426873632135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1522863863149" width="400" height="300"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

  <!-- CONTATO END-->

  <!-- FOOTER
    <footer class="row">
      <div class="col-12">
        PT | ENG
      </div>
    </footer>
  </div>
-->

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>
