<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - Viggo Case</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body id="viggo">
  <header>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="servicos.html"><h1 class="cont-li">serviços</h1></a>
      <a href="index.html#contato"><h1 class="cont-li">contato</h1></a>
      <a href="cases.html"><h1 class="cont-li">cases</h1></a>
      <a href="index.html#quem-somos"><h1 class="cont-li">quem somos</h1></a>
      <a href="frete.html"><h1 class="cont-li">frete pimenta</h1></a>
    </div>
  </header>

  <section class="cover">
    <div class="col-12 logo-cover">
      <img src="../statics/img/case_viggo/logo-cover.png" alt="">
    </div>
    <div class="casemail">
      <a href="https://www.lojasviggo.com.br/" target="_blank"><h5>www.lojasviggo.com.br</h5></a>
      <div class="down-seta">
        <a data-scroll-nav="1"><img src="../statics/img/seta.png" alt=""></a>
      </div>
    </div>

  </section>
  <section class="resume">
    <div data-scroll-index="1"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <img id="case-logo" src="../statics/img/case_viggo/logo.png" alt="">
        <p>Desde 2005, a VIGGO atende o público masculino, trazendo os novos conceitos do mercado da moda em sapatos de seus produtos, criando peças exclusivas para os variados estilos. Com um conceito voltado para o respeito ao gosto de cada cliente, a
          Viggo investe em peças únicas e modernas. Atualmente a marca VIGGO conta com lojas em Natal, João Pessoa e Recife.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_viggo/Vector Smart Object.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/case_viggo/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="even line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_viggo/novo_layout.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>NOVO LAYOUT</h3>
        <p>Redesign elegante conforme a proposta da loja e com a navegação simples e prática para o cliente.</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/case_viggo/div2.png" alt="">
      </div>
    </div>
  </section>
  <section class="odd line">
    <div class="row">
      <div class="gbg"></div>
      <div class="col-12 col-lg-6">
        <h3>ARMAZENAMENTO DE ESTOQUE</h3>
        <p>Total controle dos produtos disponíveis e autonomia para a criação de promoções</p>
        <h3>CURADORIA FOTOGRAFICA</h3>
        <p>Ao optarmos pela produção de imagens internamente reduzimos em 60% essa despesa da Viggo. Um bom exemplo de como soluções simples e práticas aliadas à qualidade Pimenta podem gerar uma economia significativa para o seu e-commerce.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img class="bigimg" style="max-width:600px" src="../statics/img/case_viggo/estoque_fotogradias.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/case_viggo/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="odd line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_viggo/marketing_digital.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>MARKETING DIGITAL</h3>
        <p>Com linguagem adequada ao público é feito o disparo diário de e-mails aos clientes cadastrados divulgando novas peças e promoções.</p>
        <h3>SAC</h3>
        <p style="text-align:  center;">Atendimento por e-mail, chat e telefone.</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/case_viggo/div2.png" alt="">
      </div>
    </div>

  </section>


  <section class="mais-cases">
    <div class="row">
      <div class="col-12">
        <h3><a href="cases.html">MAIS CASES ></a></h3>
        <img src="../statics/img/greenline.png" alt="">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="servicos.html">SERVIÇOS</a></li>
            <li><a href="cases.html">CASES</a></li>
            <li><a href="index.html#quem-somos">QUEM SOMOS</a></li>
            <li><a href="index.html#contato">CONTATO</a></li>
            <li><a href="frete.html">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-4">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-4">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
</body>

</html>
