<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS & FONTES  -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <!-- JAVASCRIPT -->
  <!-- <link type="text/js" href="../statics/js/functions.css"> -->


  <title>Pimenta.co - Viggo Case</title>
  <link rel="icon" href="../statics/img/icon.png">


  </head>
  <body>
    <header style="background-image:url('../statics/img/case_viggo/banner.png')">
      <div class="row justify-content-center">
        <div class="clearfix col-12">
          <span class="logo"><a href="index.html"><img class="img-responsive" id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
          <span class="menu"><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
        </div>
      </div>

      <h2><a href="https://www.lojasviggo.com.br/">lojasviggo.com.br</a></h2>

      <div class="conteudo-menu">
        <div id="menu">
          <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
          <h1 id="menu-quem-somos" class="cont-li">quem somos</h1>
          <h1 id="menu-servicos" class="cont-li">serviços</h1>
          <h1 id="menu-contato" class="cont-li">contato</h1>
          <a href="file:///C:/Users/monal/Desktop/Site%20Pimenta.co/site/views/cases.html"><h1 id="menu-cases" class="cont-li">cases</h1></a>
        </div>
      </div>
    </header>
    <div class="conteiner">
      <div class="row first-line">
        <div class="line-01a col-12 col-lg-6">
          <img src="../statics/img/case_viggo/logo.png" alt="">
          <p id="resume">"Desde 2005, a VIGGO atende o público masculino, trazendo os novos conceitos do mercado da moda em sapatos de seus produtos, criando peças exclusivas para os variados estilos. Com um conceito voltado para o respeito ao gosto de cada cliente, a Viggo investe em peças únicas e modernas. Atualmente a marca VIGGO conta com lojas em Natal, João Pessoa e Recife."</p>
        </div>
        <div class="line-01b col-12 col-lg-6">
          <img src="../statics/img/case_viggo/Vector Smart Object.png" alt="">
        </div>
        <div class="col-12">
            <img class="div1line" src="../statics/img/case_viggo/div1.png" alt="">
        </div>
      </div>


      <div class="row">
        <div class="line-02a col-12 col-lg-6">
          <img src="../statics/img/case_viggo/novo_layout.png" alt="">
        </div>
        <div class="line-02b col-12 col-lg-6">
          <h3>NOVO LAYOUT</h3>
          <p>Redesign elegante conforme a proposta da loja e com a navegação simples e prática para o cliente.</p>

        </div>
        <div class="col-12">
          <img class="div2line" src="../statics/img/case_viggo/div2.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="line-03a col-12 col-lg-6">
          <h3>ARMAZENAMENTO DE ESTOQUE</h3>
          <p>Total controle dos produtos disponíveis e autonomia para a criação de promoções</p>
          <h3>CURADORIA FOTOGRAFICA</h3>
          <p>Ao optarmos pela produção de imagens internamente reduzimos em 60% essa despesa da Viggo. Um bom exemplo de como soluções simples e práticas aliadas à qualidade Pimenta podem gerar uma economia significativa para o seu e-commerce.</p>

        </div>
        <div class="line-03b col-12 col-lg-6">
          <img class="dbl-img" src="../statics/img/case_viggo/sapato.png" alt="">
          <img class="dbl-img" src="../statics/img/case_viggo/sapato2.png" alt="">
        </div>
        <div class="col-12">
            <img class="div1line" src="../statics/img/case_viggo/div1.png" alt="">
        </div>
      </div>

      <div class="row">
        <div class="line-04a col-12 col-lg-6">
          <img src="../statics/img/case_viggo/marketing_digital.png" alt="">
        </div>
        <div class="line-04b col-12 col-lg-6">
          <h3>MARKETING DIGITAL</h3>
          <p>Com linguagem adequada ao público é feito o disparo diário de e-mails aos clientes cadastrados divulgando novas peças e promoções.</p>
          <h3>SAC</h3>
          <p>Atendimento por e-mail, chat e telefone.</p>

        </div>
        <div class="col-12">
          <img class="div2line" src="../statics/img/case_viggo/div2.png" alt="">
        </div>
      </div>
    </div>

    <footer>

      <div id="nxt" class="row">
        <div class="col-12">
          <h3><a href="#" class="next-link">MAIS CASES ></a></h3>
          <img src="../statics/img/quem-somos-line.png" alt="">
        </div>
      </div>
    </footer>


    <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../statics/js/functions.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </body>

  </html>
