<!DOCTYPE html>
<html lang="pt" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../statics/css/cases.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/style.css">
  <link rel="stylesheet" type="text/css" href="../statics/css/bootstrap.min.css">
  <title>Pimenta.co - World Wine Case</title>
  <link rel="icon" href="../statics/img/icon.png">
</head>

<body id="ww">
  <header>
    <div class="clearfix col-12">
      <span><a href="index.html"><img id="logo" src="../statics/img/pimenta-logo.png" /></a></span>
      <span><img id="botao-menu" class="img-responsive" src="../statics/img/menu-orange.png" /></span>
    </div>
    <div id="menu">
      <button id="close-menu"><img src="../statics/img/fechar_menu.png" alt=""></button>
      <a href="servicos.html"><h1 class="cont-li">serviços</h1></a>
      <a href="index.html#contato"><h1 class="cont-li">contato</h1></a>
      <a href="cases.html"><h1 class="cont-li">cases</h1></a>
      <a href="index.html#quem-somos"><h1 class="cont-li">quem somos</h1></a>
      <a href="frete.html"><h1 class="cont-li">frete pimenta</h1></a>
    </div>
  </header>

  <section class="cover">
    <div class="casemail">
      <a href="http://www.worldwine.com.br/" target="_blank"><h5>www.worldwine.com.br</h5></a>
      <div class="down-seta">
        <a data-scroll-nav="1"><img src="../statics/img/seta.png" alt=""></a>
      </div>
    </div>

  </section>
  <section class="resume">
    <div data-scroll-index="1"></div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <img id="case-logo" src="../statics/img/case_worldwine/logo.png" alt="">
        <p>Criada em 1999, a World Wine é uma das três maiores importadoras de vinhos premium do Brasil e conta com cerca de 2 mil rótulos safrados de mais de 150 produtores exclusivos de 14 países como França, Itália, Chile, Argentina, Portugal, Espanha,
          Alemanha e Hungria.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_worldwine/vinhos.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/case_worldwine/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="even line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_worldwine/home_desk.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>MELHORIAS NO FLUXO<br />DA LOJA</h3>
        <p>Desde 2008 o cliente contava com um e-commerce completamente estagnado no patamar de vendas. Para aumentar o fluxo e aumento de caixa online, todas as mídias foram revisadas (sendo que as de ROI baixo foram descartadas).</p>
        <p>Definição de gargalos: incentivamos de diversas maneiras o cliente a vivenciar a experiência de compra na loja da World Wine. Percebemos que por causa da dificuldade de check-out do site, muitos clientes desistiam da compra, por isso passamos
          a investir nos email marketings, que se comunicam diretamente com a base de clientes já cadastrados no site. Com essa ação multiplicamos em 5 x as vendas online. </p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/case_worldwine/div2.png" alt="">
      </div>
    </div>
  </section>
  <section class="odd line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <h3>EMAIL MARKETING</h3>
        <p>Foi necessária a troca de ferramenta de disparo de e-mails, para gerar conteúdos mais responsivos e que se adaptam ao layout de tela do usuário (celular ou computador).</p>
        <p>Após este processo, selecionamos os melhores e-mails da marca, cerca de 10% de 50 mil nomes, para performar com mais objetividade.</p>
        <h3 class="notatitle">111,38%</h3>
        <p>De aumento do faturamento de e-mail marketing da World Wine após a entrada da Pimenta em apenas um ano.</p>
      </div>
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_worldwine/PC_EMKT.png" alt="">
      </div>
      <div class="col-12">
        <img class="div1line" src="../statics/img/case_worldwine/div1.png" alt="">
      </div>
    </div>
  </section>
  <section class="even line">
    <div class="row">
      <div class="col-12 col-lg-6">
        <img src="../statics/img/case_worldwine/PC_ACOESDEMKT.png" alt="">
      </div>
      <div class="col-12 col-lg-6">
        <h3>AÇÕES DE MARKETING DIGITAL:<br /> SELETOR DE VINHO</h3>
        <p id="quot">Qual o vinho ideal para você? <br /> Taxa de conversão média é 4%</p>
        <p>Ajudamos o cliente indeciso a escolher seu vinho com desconto respondendo apenas três perguntas: Qual estilo de vinho você mais gosta? Qual a ocasião? Qual a harmonização?</p>
      </div>

      <div class="col-12">
        <img class="div2line" src="../statics/img/case_worldwine/div2.png" alt="">
      </div>
    </div>

  </section>

  <section class="icons">
    <div class="row">
      <div class="mid-icon col-12  col-md-4">
        <h3>Facebook AdWords</h3>
        <img src="../statics/img/case_worldwine/ICON1.png" alt="">
      </div>
      <div class="mid-icon col-12 col-md-4">
        <h3>Mídia programática</h3>
        <img src="../statics/img/case_worldwine/ICON2.png" alt="">
      </div>
      <div class="mid-icon col-12 col-md-4">
        <h3>Relatórios mensais</h3>
        <img src="../statics/img/case_worldwine/ICON3.png" alt="">
      </div>
    </div>
  </section>

  <section class="mais-cases">
    <div class="row">
      <div class="col-12">
        <h3><a href="cases.html">MAIS CASES ></a></h3>
        <img src="../statics/img/greenline.png" alt="">
      </div>
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="servicos.html">SERVIÇOS</a></li>
            <li><a href="cases.html">CASES</a></li>
            <li><a href="index.html#quem-somos">QUEM SOMOS</a></li>
            <li><a href="index.html#contato">CONTATO</a></li>
            <li><a href="frete.html">FRETE PIMENTA</a></li>
          </ul>
        </div>

        <div class="col-4 col-md-4">
          <img src="..\statics\img\Camada 26.png" alt="">
        </div>
        <div class="col-8 col-md-4">
          <img src="..\statics\img\Camada 27.png" alt="">
        </div>
        <div class="last-line col-12">
          <p>RUA ARTHUR DE AZEVEDO, 1361 - SÃO PAULO / SP - TEL: (11) 3900-1480</p>
          <p>PIMENTA.CO® 2017 - TODOS OS DIREITOS RESERVADOS.</p>
        </div>

      </div>
    </div>

  </footer>

  <script type="text/javascript" src="../statics/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="../statics/js/functions.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../statics/js/scrollIt.js" type="text/javascript"></script>
</body>

</html>
